<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <title>Register new Source</title>

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        :root {
            width: 100vw;
            height: 100vh;
            font-size: 16px;
        }

        body {
            width: 100%;
            height: 100%;
            background-color: #f8f9fa;
            padding-top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        main {
            width: 80%;
            height: 60%;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        form {
            margin-top: 30px;
            background-color: #fff;
            border: 1px solid #d98b0d;
            border-radius: 20px;
            padding: 10px;
            width: 40%;

            display: flex;
            flex-direction: column;
        }

        .uploadForm {
            padding-bottom: 17px;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
        }
    </style>
    <script>
        function verifyRegion() {
            var state = document.getElementById("state").value;
            var dateInput = document.getElementById("date");
            const northRegion = ['AM', 'PA', 'AC', 'RR', 'RO', 'AP', 'TO'];
            if (northRegion.includes(state)) {
                dateInput.setAttribute("min", "2011-01");
            } else {
                dateInput.setAttribute("min", "2006-01");
            }
        }
    </script>
</head>
<%const states=[ { abbreviation: "AC" , name: "Acre" }, { abbreviation: "AL" , name: "Alagoas" }, { abbreviation: "AP" ,
    name: "Amapá" }, { abbreviation: "AM" , name: "Amazonas" }, { abbreviation: "BA" , name: "Bahia" }, {
    abbreviation: "CE" , name: "Ceará" }, { abbreviation: "DF" , name: "Distrito Federal" }, { abbreviation: "ES" ,
    name: "Espírito Santo" }, { abbreviation: "GO" , name: "Goiás" }, { abbreviation: "MA" , name: "Maranhão" }, {
    abbreviation: "MT" , name: "Mato Grosso" }, { abbreviation: "MS" , name: "Mato Grosso do Sul" }, {
    abbreviation: "MG" , name: "Minas Gerais" }, { abbreviation: "PA" , name: "Pará" }, { abbreviation: "PB" ,
    name: "Paraíba" }, { abbreviation: "PR" , name: "Paraná" }, { abbreviation: "PE" , name: "Pernambuco" }, {
    abbreviation: "PI" , name: "Piauí" }, { abbreviation: "RJ" , name: "Rio de Janeiro" }, { abbreviation: "RN" ,
    name: "Rio Grande do Norte" }, { abbreviation: "RS" , name: "Rio Grande do Sul" }, { abbreviation: "RO" ,
    name: "Rondônia" }, { abbreviation: "RR" , name: "Roraima" }, { abbreviation: "SC" , name: "Santa Catarina" }, {
    abbreviation: "SP" , name: "São Paulo" }, { abbreviation: "SE" , name: "Sergipe" }, { abbreviation: "TO" ,
    name: "Tocantins" }, ]; %>

    <body>
        <h1 style="color: #d98b0d; margin-bottom: 20px;">Enter the Source Data or Upload the Bill PDF</h1>
        <h2 style="color: #d98b0d;">Select State before Date. Attention: North states doesn't have Emission Factor data
            before 2011</h2>
        <main>
            <form action="./emissionSource" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Source Name:</label>
                    <input type="text" class="form-control" id="sourceName" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="consumptionAmount" class="form-label">Consumption Amount (MWh):</label>
                    <input step="any" class="form-control" id="consumptionAmount" name="consumptionAmount" type="number"
                        required>
                </div>
                <label for="state">State: </label>
                <select id="state" name="state" class="form-select" onchange="verifyRegion()" required>
                    <option value="" selected>Select a state</option>
                    <% states.forEach((state)=> { %>
                        <option value="<%= state.abbreviation %>">
                            <%= state.name %>
                        </option>


                        <% }); %>
                </select>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input class="form-control" id="date" name="date" type="month" min="2006-01" max="2022-12" required>
                </div>



                <button style="margin-top: 20px; border-color: #d98b0d; background-color: #d98b0d;" type="submit"
                    class="btn btn-primary">Submit</button>
            </form>

            <form class="uploadForm" action="./upload" enctype='multipart/form-data' method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Source Name:</label>
                    <input type="text" class="form-control" id="sourceName" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="billPdf" class="form-label">Consumption Amount:</label>
                    <input class="form-control" id="billPdf" name="file" type="file" required>
                    <div id="fileHelp" class="form-text">Max 2 MB. Only PDF. Only Santa Catarina Bills, between 2006 and
                        2022.</div>
                </div>
                <button style="border-color: #d98b0d; background-color: #d98b0d;" type="submit"
                    class="btn btn-primary">Submit</button>
            </form>
        </main>
    </body>

</html>